# pnpm 配置
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*turbo*
auto-install-peers=true
save-exact=true
