# pnpm 配置
strict-peer-dependencies=false
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*turbo*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=@types/react
public-hoist-pattern[]=@types/react-dom
auto-install-peers=true
save-exact=true
